.main-services {
    background: url(../assets/images/background/services.jpg) repeat 100% 0;
    padding: 40px;
}

.title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Pattaya-Regular, serif;
    color: #070036;
    text-shadow: 0 0 #dad3f9, 0 3px #dad3f9, 3px 0 #dad3f9, 0 -1px #8b9177;
}

.table  {
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 6px rgba(139, 145, 119, 0.7);
    background-color: rgba(203, 202, 229, 0.6);
    }


tr th {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

tr td {
    padding: 5px 30px;
    border-bottom: 1px  #2b3541 dotted;
}

tr td:last-child {
    text-align: center;

}

.last-line td {
    border-bottom: none;
}

tr .td-title {
    padding: 20px 0 10px 0;
    font-weight: bold;
    border: none;
}

.table tr th {
    border-bottom: 2px rgba(18, 0, 119, 0.4) outset;
}

.table tr:last-child td {
    padding-bottom: 25px;
}
