.main-create {
    background: rgba(197, 255, 172, 0.7) url(../assets/images/background/congruent_pentagon.png) repeat 100% 0;
    font-family: ElMessiri-Regular, serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 100vh;
    min-height: max-content;
}

.main-create h1 {
    font-family: Pattaya-Regular, serif;
    font-size: 40px;
    color: #84251a;
    text-align: center;
    padding-top: 60px;
}

a.links-item {
    display: inline-block;
    color: #ecf6fd;
    padding: 10px 10px;
    margin: 30px 20px;
    border-radius: 25px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #56efb1 0%, #0fbf78 51%, #95ef96 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
    border: 1px solid rgba(0, 93, 30, .2);
    font-size: 16px;
}
a.links-item:hover {
    background-position: right center;
}


.main-create .links a:hover {
    color: #84251a;
}

.form-create {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 35%;
}

.form-create input {
    width: 270px;
    height: 25px;
}

.form-create p {
    padding-bottom: 10px;
    clear: both;
    text-align: right;
    line-height: 30px;
}

.form-create label {
    float:left;
    padding-right:10px;
}

.form-create {
    float:left;
}

.id-link {
    color: #ff7e76;
}

.id-link:hover {
    color: #2EE59D;
}

.form-create p .submit {
    width: unset;
}

.submit {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 5px 25px 5px;
    border-radius: 45px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ecf6fd;
    background: #ff7e76;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}
.submit:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}

.readonly {
    background-color: rgb(194, 205, 208);
}

.date_finish input{
    width: 130px;
}
