.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    font-family: ElMessiri-Regular, serif;
}

.side-bar {
    background: #596d7f url(../assets/images/background/grey_wash_wall.png) repeat 100% 0;
    display: flex;
    flex-direction: column;
    font-family: Pattaya-Regular, serif;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    padding: 10px 180px 10px 30px;
}

.logo {
    position: fixed;
    background: url("../assets/images/logo-white.png") no-repeat 100% 0;
    background-size: 150px;
    height: 150px;
    width: 150px;
}

.social {
    position: fixed;
    margin-top: 150px;
}

.social > ul {
    display: flex;
    padding-right: 10px;
}

.social > ul > li {
    padding-right: 5px;
}

.facebook {
    background-image: url("../assets/images/icons/icons8-facebook-old.png");
    background-size: cover;
    width: 15px;
    height: 15px;
}

.google {
    background-image: url("../assets/images/icons/icons8-google-plus.png");
    background-size: cover;
    width: 15px;
    height: 15px;
}

.tweeter {
    background-image: url("../assets/images/icons/icons8-twitter.png");
    background-size: cover;
    width: 15px;
    height: 15px;
}

.vk {
    background-image: url("../assets/images/icons/icons8-vk.png");
    background-size: cover;
    width: 15px;
    height: 15px;
}

.instagram {
    background-image: url("../assets/images/icons/icons8-instagram.png");
    background-size: cover;
    width: 15px;
    height: 15px;
}

.facebook:hover {
    background-image: url("../assets/images/icons/icons8-facebook-old_active.png");
    width: 15px;
    height: 15px;
}

.google:hover {
    background-image: url("../assets/images/icons/icons8-google-plus_active.png");
    width: 15px;
    height: 15px;
}

.tweeter:hover {
    background-image: url("../assets/images/icons/icons8-twitter-active.png");
    width: 15px;
    height: 15px;
}

.vk:hover {
    background-image: url("../assets/images/icons/icons8-vk_active.png");
    width: 15px;
    height: 15px;
}

.instagram:hover {
    background-image: url("../assets/images/icons/icons8-instagram_active.png");
    width: 15px;
    height: 15px;
}

.nav {
    position: fixed;
    margin-top: 300px;
    font-size: 24px;
}

.side-bar a {
    padding: 6px;
    text-decoration: none;
    display: block;
    color: snow;
}

.nav a {
    padding-left: 25px;
}

.nav a:hover {
    text-shadow: 2px 2px 4px black;
    color: #9F9CA4;
}

.nav-list {
    position: relative;
}

.nav-item {
    padding-top: 20px;
}

.nav-item:first-child::before {
    content: "";
    border: .7px inset;
    position: absolute;
    width: 150px;
    margin-top: -10px;
}

.nav-item::after {
    content: "";
    border: .7px inset;
    position: absolute;
    width: 150px;
    margin-top: 10px;
}

.nav-item-login {
    padding-top: 50%;
    font-size: 16px;


}

.nav-item-login a {
    color: #0a071f;
    margin-left: -10%;

}


.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    background-image: url(../assets/images/background/grey_wash_wall.png);
    opacity: .8;
    text-align: center;
    font-weight: bold;
}

.footer:hover {
    opacity: 1;
    color: #0a071f;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
}

.contacts::after {
    content: "";
    position: absolute;
    border: 0.3px dotted #596d7f;
    width: 80%;
    bottom: 16%;
}

.contacts .tel {
    background: url("../assets/images/icons/icons8-phone-filled-50.png") no-repeat;
    background-size: 15px;
    width: 15px;
}

.contacts .e-mail {
    background: url("../assets/images/icons/icons8-envelope-filled-50.png") no-repeat;
    background-size: 15px;
    width: 15px;
}

.contacts .address {
    background: url("../assets/images/icons/icons8-marker-filled-50-2.png") no-repeat;
    background-size: 15px;
    width: 15px;
}

.contacts .tel:hover,
.contacts .e-mail:hover,
.contacts .address:hover {
    background-size: 17px;
    background-position-y: -1px;
}

.contacts-items {
    display: flex;
}

.contacts-items a {
    padding-right: 5px;
}

.central {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    font-size: 20px;
    background: url(../assets/images/background/main.jpg) repeat 100% 0;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: max-content;
}

.help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-pic {
    width: 100px;
    margin-right: 1%;
}

.help figcaption {
    font-family: Pattaya-Regular, serif;
    font-size: 30px;
    color: #3c4a5a;
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: -2%;
}

.fast-pic {
    background: url(../assets/images/main/fast.png) no-repeat 100% 0;
    width: 160px;
    height: 160px;
    background-size: contain;
}

.quality-pic {
    background: url(../assets/images/main/quality.png) no-repeat 100% 0;
    width: 190px;
    height: 190px;
    background-size: contain;
    margin-top: -2%;
}

.price-pic {
    background: url(../assets/images/main/prices.png) no-repeat 100% 0;
    width: 160px;
    height: 160px;
    background-size: contain;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 3%;
    margin-top: -3%;
}

.services div {
    display: inline-flex;
    margin-top: 2%;
    width: 450px;
    margin-left: 3%;
    padding: 10px;
    border: 1px dotted rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    background: rgba(122, 135, 163, 0.27);
}

.services div:first-child,
.services div:nth-child(3) {
    padding-right: 3%;
}

.services img {
    margin-right: 15px;
    float: left;
    /*width: 70px;*/
    height: 70px;
    padding: 5px;
}

.services img:hover {
    box-shadow: 0 0 5px 6px rgba(29, 27, 102, 0.7);
    border-radius: 10px;
}

.services ul li {
    font-size: 20px;
    color: #2b3541;
    align-self: center;
    padding-bottom: 10px;
}

.services ul li:before {
    content: "Ï¿ ";
}

.vip {
    display: flex;
    height: 80px;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-family: Pattaya-Regular, serif;
    font-size: 25px;
    align-self: center;
    color: #0a071f;
}

.vip:hover {
    background: url("../assets/images/main/stars.png");
    background-size: 85px;
}

.vip span {
    color: #ff1512;
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    text-transform: uppercase;
    font-size: 30px;
}
