.main-start {
    background: url(../assets/images/background/base_main.jpg) no-repeat 30% 0;
    font-family: ElMessiri-Regular, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    min-height: max-content;
}

.title-logo {
    display: flex;
    justify-content: center;
}

.title-logo a {
    align-self: center;
    margin-left: 3%;
    color: #100d30;
    background-color: rgba(152, 173, 191, .5);
    padding: 17px;
    border-radius: 15px;
    font-size: 16px;
    letter-spacing: 1px;

}

.title-logo a:hover {
    color: #d3d6fa;
    background-color: rgba(152, 173, 191, .9);
}

.title-logo a:first-child {
    color: #b0c7d9;
}

.title-logo a:first-child:hover {
    color: #110e33;
    background-color: rgba(152, 173, 191, .9);
}

.title-logo a:active {
    margin-top: -5px;
}

.title-logo h1 {
    font-size: 40px;
    padding: 45px 0 90px 0;
    font-weight: bold;
    flex-grow: 1;
    align-self: center;
    color: #071452;
}

.title-logo img {
    width: 130px;
    height: 130px;
    padding-right: 1%;
}

.main-start .control {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
}

.main-start .control div p {
    padding: 4px;
}

.main-start .control div p:first-child {
    padding-bottom: 25px;
    font-size: 30px;
    color: #071452;
}

.main-start .reports {
    font-size: 21px;
}

.main-start .reports p {
    margin-bottom: 15px;
}

.main-start .reports p:first-child {
    margin-bottom: 0;
}

.main-start .reports p a {
    margin-right: 5px;
    width: 120px;
}

a.button {
    position: relative;
    display: inline-block;
    color: #3e4a77;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(100, 100, 100, .3) 3px 7px 3px;
    user-select: none;
    padding: 1em 1.7em;
    outline: none;
    border-radius: 3px / 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
    width: 100px;
}

a.button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    color: #cd1b1b;
}

a.button:active {
    top: 2px;
}

.main-all {
    background: rgba(197, 255, 172, 0.7) url(../assets/images/background/base_all.jpg) repeat 100% 0;
    font-family: ElMessiri-Regular, serif;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    min-height: max-content;
}

.main-all h1 {
    font-family: Pattaya-Regular, serif;
    font-size: 35px;
    color: #84251a;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 10px;
}

.main-all h1 span {
    font-family: DroidSerif, serif;
    font-size: 16px;
    font-weight: bold;
}

.back {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
}

a.button-back {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    outline: none;
    border-radius: 1px;
    font-weight: bold;
    font-size: 25px;
    color: #844a41;
    margin-top: 50px;
}

a.button-back:hover {
    background-image: radial-gradient(8px 45% at 0% 50%, rgba(0, 0, 0, .9), transparent),
    radial-gradient(8px 45% at 100% 50%, rgba(0, 0, 0, .9), transparent);
    color: #3d080a;
    font-weight: normal;
}

a.button-back:active {
    background-image: radial-gradient(45% 45% at 50% 100%, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .3));
    box-shadow: inset rgba(162, 95, 42, .4) 0 0 0 1px,
    inset rgba(255, 255, 255, .9) 0 0 1px 3px;
    border-radius: 25px;
}

.table-all {
    margin: 0 auto 2% auto;
    font-weight: bold;
    font-size: 18px;
}

.table-all .center {
text-align: center;
}

table tr td {
    border: 2px #bb4258 dotted;
    padding: 8px 3px;
    text-align: left;
    vertical-align: middle;
  }

table tr td:first-child,
table tr td:last-child {
    text-align: center;
}

table tr td:last-child {
    border: none;
}

table th {
    text-align: center;
    padding: 8px;
    color: #1f0404;
    font-size: 19px;
    vertical-align: middle;
}

.table-all a.link {
    color: inherit;
    padding: 1px 10px;
}

.table-all a.link:hover {
    background: rgba(187, 12, 9, .2);
    border-radius: 50%;
}

form {
    display: inline;
}

.add {
    padding-bottom: 50px;
}

a.button-add {
    position: relative;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px 1px #cc5500;
    user-select: none;
    padding: .2em 0.8em;
    border-radius: 25px;
    background: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .0) 50%, rgba(0, 0, 0, .3)), linear-gradient(#d72c2b, #fe8417, #d77d31);
    background-size: 100% 100%, auto;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
}

a.button-add:hover {
    background-size: 150% 100%, auto;
}

a.button-add:active {
    bottom: 3px;
    color: #ffdead;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}

a.button-change {
    display: inline-block;
    padding: 7px 10px;
    margin: 2px 5px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #005d1e inset, 0 0 0 0 #16830f;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
}

a.button-change:hover {
    box-shadow: 0 0 10px 0 #8ce58f inset, 0 0 10px 4px #138200;
    color: #042902;
    background: rgba(147, 242, 145, 0.7);
}


.delete-all {
    display: inline-block;
    padding: 2px 10px;
    margin: 2px 5px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #75100a inset, 0 0 0 0 #f75245;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .15s ease-in-out;
    font-family: ElMessiri-Regular, serif;
    font-size: 16px;
    outline: none;
    border: none;
}

.delete-all:hover {
    box-shadow: 0 0 10px 0 #fe9864 inset, 0 0 10px 4px #8c131a;
    color: #77202c;
    background: rgba(242, 171, 182, 0.7);
}

.main-all .keys {
    position: absolute;
    font-family: DroidSerif, serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(143, 36, 56, 0.13);
    width: max-content;
    text-align: left;
    top: 10%;
    left: 80%;
}

.main-report {
background: rgba(197, 255, 172, 0.7) url(../assets/images/background/vintage-concrete.png) repeat 100% 0;
}

.table-report th,
.table-report td,
.table-report tr td:last-child {
    border: 2px #bb8045 solid;
}

.table-report th {
    background-color: rgba(187, 12, 9, .1);
}
