.main-order {
    background: url(../assets/images/background/order.jpg) no-repeat 100% 0;
    background-size: cover;
    height: 91.9vh;
    min-height: max-content;
}

.contact-form {
    margin: auto;
}

.contact-form li {
    padding: 12px;
}

.contact-form h2 {
    font-family: Pattaya-Regular, serif;
    font-size: 40px;
    color: #fbfdff;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: 1px;
}

.required_notification {
    color:#d45252;
    float:right;
    font-size: 15px;
    font-weight: 600;
}

.main-order .contact-form ul li:nth-child(2) {
    padding-top: 40px;
}

.contact-form label {
    width:220px;
    margin-top: 10px;
    float:left;
    font-weight: bold;
}
.contact-form input {
    height:20px;
    width:250px;
    padding:5px 8px;
}

.contact-form textarea {
    padding:8px;
    width:300px;
}
.contact-form ul li:last-child {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    border:1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inse t;
    border-radius:2px;
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.contact-form input:focus, .contact-form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.contact-form input:focus {
    padding-right: 55px;
}

.contact-form input:required, .contact-form textarea:required {
    background: #fff url(../assets/images/order/red_asterisk.png) no-repeat 98% center;
}
.contact-form input:required:valid,
.contact-form textarea:required:valid {
    background: #fff url(../assets/images/order/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.contact-form input:focus:invalid, .contact-form textarea:focus:invalid {
    background: #fff url(../assets/images/order/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.contact-form .email:focus:valid {
    background: #fff;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form-hint {
    background: #d45252;
    border-radius: 5px;
    color: white;
    margin-left:10px;
    padding: 5px;
    z-index: 999;
    position: absolute;
    display: none;
    font-size: 18px;
}
.form-hint::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:2px;
    left:-9px;
}
.contact-form input:focus + .form-hint {
    display: inline;
}
.contact-form input:required:valid + .form-hint {
    background: #28921f;
}
.contact-form input:required:valid + .form-hint::before {
    color:#28921f;
}

.contact-form .email:valid + .form-hint {
    background: #8b9177;
}
.contact-form .email:valid + .form-hint::before {
    color:#8b9177;
}

button.submit {
    background-color: #68b12f;
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
    font-size: 14px;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
}

input::-webkit-input-placeholder {
    color: rgb(27, 37, 119, .4);
    font-style: italic;
    font-size: 13px;
}

input::-moz-placeholder {
    color: rgb(27, 37, 119, .4);
    font-style: italic;
    font-size: 13px;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}
