.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    font-family: ElMessiri-Regular, serif;
}

.side-bar {
    background: #596d7f url(../assets/images/noize.png) repeat 100% 0;
    display: flex;
    flex-direction: column;
    font-family: Pattaya-Regular, serif;
    font-size: 26px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    padding: 10px 180px 10px 30px;
}

.logo {
    position: fixed;
    background: url("../assets/images/logo-white.png") no-repeat 100% 0;
    background-size: 150px;
    height: 150px;
    width: 150px;
}

.social {
    position: fixed;
    margin-top: 150px;
}

.social > ul {
    display: flex;
    padding-right: 10px;
}

.social > ul > li {
    padding-right: 5px;
}

.facebook {
    background-image: url("../assets/images/icons/icons8-facebook-old.png");
    background-size: cover;
    background-color: #596d7f;
    width: 15px;
    height: 15px;
}

.google {
    background-image: url("../assets/images/icons/icons8-google-plus.png");
    background-size: cover;
    background-color: #596d7f;
    width: 15px;
    height: 15px;
}

.tweeter {
    background-image: url("../assets/images/icons/icons8-twitter.png");
    background-size: cover;
    background-color: #596d7f;
    width: 15px;
    height: 15px;
}

.vk {
    background-image: url("../assets/images/icons/icons8-vk.png");
    background-size: cover;
    background-color: #596d7f;
    width: 15px;
    height: 15px;
}

.instagram {
    background-image: url("../assets/images/icons/icons8-instagram.png");
    background-size: cover;
    background-color: #596d7f;
    width: 15px;
    height: 15px;
}

.facebook:hover {
    background-image: url("../assets/images/icons/icons8-facebook-old_active.png");
    width: 15px;
    height: 15px;
}

.google:hover {
    background-image: url("../assets/images/icons/icons8-google-plus_active.png");
    width: 15px;
    height: 15px;
}

.tweeter:hover {
    background-image: url("../assets/images/icons/icons8-twitter-active.png");
    width: 15px;
    height: 15px;
}

.vk:hover {
    background-image: url("../assets/images/icons/icons8-vk_active.png");
    width: 15px;
    height: 15px;
}

.instagram:hover {
    background-image: url("../assets/images/icons/icons8-instagram_active.png");
    width: 15px;
    height: 15px;
}

.nav {
    position: fixed;
    margin-top: 300px;
}

.side-bar a {
    padding: 6px;
    text-decoration: none;
    display: block;
    color: snow;
}

.nav a {
    padding-left: 15px;
}

.nav a:hover {
    background: linear-gradient(to bottom right, #6276cd, #6e859d, #404d6d, #6276cd);
    box-shadow: 1px 5px 15px #6276cd;
    border-radius: 25px;
}

.nav-list {
    position: relative;
}

.nav-item {
    padding-top: 20px;
}

.nav-item:first-child::before {
    content: "";
    border: .7px inset;
    position: absolute;
    width: 110%;
    margin-top: -8%;
}

.nav-item::after {
    content: "";
    border: .7px inset;
    position: absolute;
    width: 110%;
    margin-top: 8%;
}

.central {
    display: flex;
    flex-direction: column;
}

.main {
    padding: 40px;
    font-size: 20px;
    background: #a4c2ae url(../assets/images/noize.png) repeat 100% 0;
    flex-grow: 1;
}

.main > ul,
.main > ol {
    list-style: initial;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}
.footer > div {
    background: #6276cd url(../assets/images/noize.png) repeat 100% 0;
    text-align: center;
    font-weight: bold;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
}

.contacts::after {
    content: "";
    position: absolute;
    border: 0.3px dotted #596d7f;
    width: 80%;
    bottom: 16%;
}
