.main-about {
    background: url(../assets/images/background/about.jpg) repeat 100% 0;
    background-size: cover;
    /*background-size: 100% auto;*/
    padding: 20px;
    font-size: 22px;
}

.main-about h2 {
    font-family: Pattaya-Regular, serif;
    font-size: 30px;
    color: #3c4a5a;
    text-align: center;
}

.info {
    text-align: center;
}

.info p {
    padding-bottom: 20px;
}

.info span {
    color: #bb0c09;
    font-weight: 600;
}

.info p:first-child {
    font-size: 25px;
}

.workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 60px;
}

.workers::before {
    content: "";
    border: dotted 0.5px rgba(53, 61, 255, .7);
    position: absolute;
    width: 65%;
    margin-top: -40px;
    box-shadow: 0 0 2px 3px rgba(53, 61, 255, 0.38);
    border-radius: 40%;
}

.workers figure {
    text-align: center;
    padding: 0 30px;
}

.workers img {
    width: 150px;
    height: 150px;
    margin: 10px;
    background: rgba(145, 143, 250, 0.6);
    border-radius: 50%;
    border: 1px rgba(0, 4, 163, 0.5) groove;
}

.workers img:hover {
    background-image: url("../assets/images/about/masters_back.jpg");
    background-size: cover;
}


.director-img img {
    background: rgba(43, 77, 250, 0.6);
}

.director-img img:hover {
    background-image: url("../assets/images/about/director_back.jpg");
    background-size: cover;
}

.workers figure:hover {
    font-weight: 600;
}

.workers figcaption p {
    font-size: 16px;
}

.workers-first-row,
.workers-second-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 20px;
}

.schedule::before {
    content: "";
    border: dotted 0.5px rgba(53, 61, 255, .7);
    position: absolute;
    width: 65%;
    margin-top: -60px;
    box-shadow: 0 0 2px 3px rgba(53, 61, 255, 0.38);
    border-radius: 40%;
 }

.schedule h2 {
    color: #c92839;
    padding-bottom: 15px;
}

.schedule img {
    width: 150px;
}

.schedule div {
    align-self: center;
    margin-left: 20px;
    font-weight: 600;
    text-align: center;
}

.schedule div p {
    padding-bottom: 10px;
}

.schedule div span {
    vertical-align: super;
    font-size: 14px;
}

.contacts-about {
    margin-top: 40px;
    font-size: 21px;
    position: relative;
}

.contacts-about div {
    margin-left: 30%;
    padding-bottom: 10px;
}

.contacts-about div span {
    vertical-align: super;
}

.contacts-about h2 {
    margin-bottom: 30px;
    margin-left: -10%;
}

.contacts-about img {
    width: 40px;
    margin-right: 1%;
}

.contacts-about div:hover {
    color: #2d328e;
    font-weight: bold;
}

.contacts-about span {
    align-items: center;
}

.contacts-about::before {
    content: "";
    border: dotted 2px #55618e;
    position: absolute;
    width: 50%;
    margin-top: -20px;
    margin-left: 25%;
}

.contacts-about::after {
    content: "";
    border: dotted 2px #55618e;
    position: absolute;
    width: 50%;
    margin-bottom: -20px;
    margin-left: 25%;
}

.feedback {
    margin: 50px 40px 0 40px;
}

.feedback h2 {
    margin-bottom: 30px;
}

.feedback h2 span {
    color: rgba(67, 75, 111, 0.54);
    font-size: 26px;
}

.feedback span:hover {
    color: rgb(55, 47, 135);
}

.feedback .pointer {
    font-size: 35px;
    color: #c92839;
    font-weight: 900;
}

.feedback .pointer:hover {
    color: #c92839;
}

.feedback blockquote {
    background: rgba(145, 143, 250, 0.5);
    color: #131314;
    padding: 30px 30px 30px 90px;
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 10px;
}

.feedback blockquote:nth-child(odd) {
    background: rgba(145, 143, 250, 0.3);
}

.feedback blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    top: 20px;
    left: 16px;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.feedback blockquote:after {
    content: "";
    width: 4px;
    background: white;
    position: absolute;
    left: 70px;
    top: 20px;
    bottom: 20px;
}

.feedback blockquote footer {
    padding-top: 5px;
    font-weight: 600;
    font-style: italic;
}

.feedback blockquote cite {
    text-transform: uppercase;
}

.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    cursor: pointer;
}

.hide:checked + label + div {
    display: block;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 20px;
}

/* Базовые стили слоя затемнения и модального окна  */

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65); /* фон затемнения */
    position: fixed; /* фиксированное позиционирование */
    cursor: default; /* тип курсара */
}

.overlay:target {
    display: block; /* активация слоя затемнения */
}

/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;  /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid #383838;
    background: rgba(216, 227, 238, 0.8) url(../assets/images/background/vintage-concrete.png) repeat 100% 0;
    /* скругление углов */
    border-radius: 10px;
    /* внешняя тень */
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}

/* активация модального блока */
.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}

/* кнопка закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);
}

/* параграфы */
.popup p {
    padding: 3px 0;
    text-indent: 25px;
}
.popup p:first-child {
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
