<!DOCTYPE html>
<html>
<head>
    <title>Добавление мастера</title>
    <link rel="stylesheet" type="text/css" href="css/style-create_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
</head>
<body>
<main class="main-create">
    <h1>Добавление Мастера</h1>

    <div class="links">
        <a href="/masters" class="links-item">список мастеров</a>
        <a href="/" class="links-item">главная форма</a>
    </div>
    <form class='form-create' method="POST">
        <p>
            <label for="name">ФИО</label>
            <input name="name" id="name" required minlength="10"/>
        </p>
        <p>
            <label for="address">Адрес</label>
            <input name="address" type="text" id="address" required minlength="10"/>
        </p>
        <p>
            <label for="phone">Телефон</label>
            <input name="phone" type="text" id="phone" required pattern="80(29|44)[0-9]{7}"/>
        </p>
        <p>
            <label for="email">Эмейл</label>
            <input name="email" type="text" id="email" required pattern="[A-Za-z0-9_]{1,}@[A-Za-z]{1,}.[A-Za-z]{2,}"/>
        </p>
        <p>
            <label for="specialization"><a href="/specializations" class ='id-link' title='Для просмотра списка специализаций пройдите по ссылке' target="_blank">Специализация</a></label>
            <input name="specialization" type="number" id="specialization" required min="1" max="3"/>
        </p>
        <p>
            <input type="submit" value="Добавить" class="submit"/>
        </p>
    </form>
</main>
</body>
</html>
