<!DOCTYPE html>
<html>
<head>
    <title>Добавление клиента</title>
    <link rel="stylesheet" type="text/css" href="css/style-create_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
</head>
<body>
<main class="main-create">
    <h1>Добавление Клиента</h1>

    <div class="links">
        <a href="/clients" class="links-item">список клиентов</a>
        <a href="/" class="links-item">главная форма</a>
    </div>
    <form class='form-create' method="POST">
        <p>
            <label for="name">ФИО</label>
            <input name="name" id="name"/>
        </p>
        <p>
            <label for="address">Адрес</label>
            <input name="address" type="text" id="address" min="10" max="110"/>
        </p>
        <p>
            <label for="phone">Телефон</label>
            <input name="phone" type="number" id="phone" min="9" max="11"/>
        </p>
        <p>
            <label for="email">Эмейл</label>
            <input name="email" type="text" id="email" min="6" max="50"/>
        </p>
        <p>
            <label for="vip">VIP</label>
            <input name="vip" type="number" id="vip" min="1" max="2"/>
        </p>
        <p>
            <input type="submit" value="Добавить" class="submit"/>
        </p>
    </form>
</main>
</body>
</html>
