<!DOCTYPE html>
<html>
<head>
    <title>БД "Компьютерный доктор"</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">

</head>
<body>

<main class="main-start">
    <div>
        <p><a class='button' href="/masters">Мастера</a></p>
        <p><a class='button' href="/clients">Клиенты</a></p>
    </div>
    <div>
        <p><a class='button' href="/services">Услуги</a></p>
    <p><a class='button' href="/orders">Заказы</a></p>
    </div>
</main>

</body>
</html>
