<!DOCTYPE html>
<html>
<head>
    <title>Загрузка участков</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
</head>
<body>
<main class="main-all main-report">
    <p class="back"><a href="/" class='button-back'>Главная форма</a></p>
    <h1>Загруженность участков <br><span>Мастерская "Компьютерный доктор"</span> </h1>
  <div class="keys">
      <p>Распечатать: Ctrl+P</p>
      <p>Поиск: Ctrl+F</p>
  </div>
    <table class="table-all table-report">
        <tr>
            <th>Наименование участка</th>
            <th>Количество заказов</th>
            <th>Общая сумма по всем заказам</th>
        </tr>
        {{#each orders}}
            <tr>
                <td style="text-align: left">{{this.specialization}}</td>
                <td class="center">{{'COUNT(id_order)'}}</td>
                <td>{{'SUM(price_final)'}} (бел.р.)</td>
              </tr>
        {{/each}}
    </table>
    <div class="current-date">Дата формирования отчета: </div>
</main>
<script type="text/javascript">
    const currentDate = new Date();
    const currentDateNormal = (("0" + currentDate.getDate()).slice(-2)) + '.' + (("0" + (currentDate.getMonth() + 1)).slice(-2))
            + '.' + currentDate.getFullYear() + ' (' + (("0" + currentDate.getHours()).slice(-2))
            + ':' + (("0" + currentDate.getMinutes()).slice(-2)) + ')';
    const divForDate = document.querySelector('.current-date');
    divForDate.firstChild.nodeValue += currentDateNormal;
</script>
</body>
</html>
