<!DOCTYPE html>
<html>
<head>
    <title>Специализации</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">

</head>
<body>
<main class="main-all">
    <p class="back"><a href="/" class='button-back'>Главная форма</a></p>
    <h1>Участки мастерской "Компьютерный доктор"</h1>
    <p class="add"><a href="/create_specialization" class='button-add'>Добавить</a></p>

    <table class="table-all">
        <tr>
            <th>Код</th>
            <th>Специализация</th>
        </tr>
        {{#each specializations}}
            <tr>
                <td>{{this.id_specialization}}</td>
                <td>{{this.specialization}}</td>
                <td>
                    <p><a class='button-change' href="/edit_spec/{{this.id_specialization}}">изменить</a></p>
                    <div>
                        <form action="delete_spec/{{this.id_specialization}}" method="POST">
                            <input class="delete-all" type="submit" value="удалить"/>
                        </form>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>

</main>
</body>
</html>
